@CHARSET "ISO-8859-1";

* {
	font-family: sans-serif;
}

html, body {
	font-size: 12px;
	font-family: sans-serif;
	margin: 0px;
	paddding: 0px;
	width: 100%;
	max-width: 100%;
}

.ui-picklist table {
	width: auto;
	color: red;
}

.basic {
	background-color: gray;
}

.time {
	text-align: right;
}

.numeric {
	text-align: right;
}

.alerta {
	color: #ED1B24;
}

.indicador_rojo {
	background-color: red;
	color: #FFF;
}

.indicador_amarillo {
	background-color: yellow;
	color: #000;
}

.indicador_verde {
	background-color: green;
	color: #FFF;
}

.perfil-style {
	background-color: #F2F2F2;
	font-weight: bold;
}

.genoma_rojo {
	background-color: #ED1B24;
	color: #FFF;
}

.genoma_aqua {
	background-color: #18989D;
	color: #FFF;
}

.genoma_negro {
	background-color: #3A3434;
	color: #FFF;
}

.genoma_gris {
	background-color: #4D4D4F;
	color: #FFF;
}

.genoma_gris {
	background-color: #FFF;
}

.white {
	background-color: #FFF !important;
}

.lblsmall {
	width: 100px;
	display: block;
}

.lblmedium {
	width: 150px;
	display: block;
}

.lbllarge {
	width: 200px;
	display: block;
}

.col {
	top: 0;
	bottom: 0;
}

.scroll-x {
	overflow-x: auto;
}

.scroll-y {
	overflow-y: auto;
}

.ui-menu .ui-menu-parent .ui-menu-child {
	white-space: nowrap;
	width: auto;
	min-width: 200px;
	padding-left: 10px;
	padding-right: 10px;
}

.calendarList input{
	width: 100px;	
}