<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Reporte</ui:insert></title>
        <h:outputStylesheet library="default" name="css/default.css"/>
    </h:head>
<h:body>
<f:view>
	<ui:include src="/WEB-INF/jasper.xhtml"/>
</f:view>
</h:body>
</html>