<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:p="http://primefaces.org/ui">
    	<h:form>
    		<p:dataTable value="#{jasperServerBean.reportes}" var="reporte" rowIndexVar="indice">
    			<p:column style="text-align:center"  headerText="No." width="5%">
    				<h:outputText value="#{indice+1}"></h:outputText>
    			</p:column>
    			<p:column width="30%" sortable="true" headerText="Reporte">
    				<h:outputText value="#{reporte.label}"></h:outputText>
    			</p:column>
    			<p:column sortable="true" headerText="Descripción">
    				<h:outputText value="#{reporte.description}"></h:outputText>
    			</p:column>
    			<p:column width="10%" headerText="Opciones">
    				<p:commandButton value="Obtener Reporte" action="#{jasperServerBean.obtenerReporte}">
    					<f:setPropertyActionListener value="#{reporte}" target="#{jasperServerBean.selectedReporte}"></f:setPropertyActionListener>
    				</p:commandButton>
    			</p:column>
    		</p:dataTable>
    	</h:form>
</ui:composition>