<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:p="http://primefaces.org/ui">
    	<h:form prependId="false" id="reportForm">
    		<p:growl id="messages" showDetail="true" autoUpdate="true" escape="false" />
    		<p:panel id="mainPanel">
    		<f:facet name="header">
   				<p:outputLabel value="#{jasperServerBean.selectedReporte.label}"></p:outputLabel>
   			</f:facet> 
   			<pe:fluidGrid  hGutter="10" vGutter="10" id="fluidGrid">
    			<c:forEach var="control" items="#{jasperServerBean.reporte.inputControls}">
    			<c:if test="#{control.id ne 'CEmp'}">
    			<pe:fluidGridItem id="gi_#{control.id}">
    			<p:panel id="panel_#{control.id}" style="min-width:250px;"  header="#{control.type} #{control.label}">
    				
    				<c:if test="#{control.type == 1}">
    					<pe:triStateCheckbox id="#{control.id}" requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" onchange="$('#reportForm\\\\:fluidGrid\\\\:lbl_#{control.id}').html(PF('wv_#{control.id}').box[0].title)" widgetVar="wv_#{control.id}" style="height:24px;display:inline-block"  stateThreeTitle="Falso" label="true" stateOneTitle="Ninguno" stateTwoTitle="Verdadero">
    						
    					</pe:triStateCheckbox>
    					<h:outputText style="display:inline-block;margin-left:3px" id="lbl_#{control.id}" value="Ninguno"></h:outputText>
    				</c:if>
    				<c:if test="#{control.type == 2}">
    					<c:if test="#{control.dataType.type eq 'text' }">
    						
    						<c:if test="#{control.dataType.maxLength eq 0}">
    							<p:inputText  requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" id="#{control.id}" value="#{jasperServerBean.solicitud[control.id]}"></p:inputText>
    						</c:if>
    						<c:if test="#{control.dataType.maxLength > 0}">
    							<p:inputText  requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" id="#{control.id}" maxlength="#{control.dataType.maxLength}" value="#{jasperServerBean.solicitud[control.id]}"></p:inputText>
    						</c:if>
						</c:if>
    					<c:if test="#{control.dataType.type eq 'datetime' }">
    						<p:calendar requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" id="#{control.id}" pattern="yyyy-mm-dd hh:mm:ss" value="#{jasperServerBean.solicitud[control.id]}"></p:calendar>
						</c:if>
						<c:if test="#{control.dataType.type eq 'date' }">
    						<p:calendar requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" id="#{control.id}" pattern="yyyy-mm-dd" value="#{jasperServerBean.solicitud[control.id]}"></p:calendar>
						</c:if>
						<c:if test="#{control.dataType.type eq 'time' }">
    						<pe:timePicker requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" style="width:100%" id="#{control.id}" mode="spinner" showOn="button" showHours="true" showMinutes="true" value="#{jasperServerBean.solicitud[control.id]}"></pe:timePicker>
						</c:if>
						<c:if test="#{control.dataType.type eq 'number' }">
    						<pe:inputNumber required="#{control.mandatory}" id="#{control.id}"></pe:inputNumber>
						</c:if>
    				</c:if> 
    				<c:if test="#{control.type == 3 or control.type == 4}">
    					<p:selectOneMenu requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" id="#{control.id}" value="#{jasperServerBean.solicitud[control.id]}" >
    						<f:selectItem itemLabel="Seleccione una opción..."></f:selectItem>
    						<f:selectItems value="#{control.options}" var="option" itemLabel="#{option.etiqueta}" itemValue="#{option.valor}" ></f:selectItems>
    					</p:selectOneMenu>
    				</c:if>
    				<c:if test="#{control.type == 6 or control.type == 7}">
    					<p:selectManyMenu requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" id="#{control.id}" value="#{jasperServerBean.solicitud[control.id]}">
    					<f:selectItems value="#{control.options}" var="option" itemLabel="#{option.etiqueta}" itemValue="#{option.valor}" ></f:selectItems>
    					</p:selectManyMenu>
    				</c:if>
    				<c:if test="#{control.type == 8 or control.type == 9}">
    					<h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
    					<p:selectOneRadio requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" columns="1" layout="grid" id="#{control.id}" value="#{jasperServerBean.solicitud[control.id]}" >   						
    						<f:selectItems value="#{control.options}" var="option" itemLabel="#{option.etiqueta}" itemValue="#{option.valor}" ></f:selectItems>
    					</p:selectOneRadio>
    					</h:panelGrid>
    				</c:if>
    				<c:if test="#{control.type == 10 or control.type == 11}">
    					<h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
    					<p:selectManyCheckbox requiredMessage="El campo #{control.label} es obligatorio" required="#{control.mandatory}" layout="grid" columns="1" id="#{control.id}" value="#{jasperServerBean.solicitud[control.id]}">
    					<f:selectItems value="#{control.options}" var="option" itemLabel="#{option.etiqueta}" itemValue="#{option.valor}" ></f:selectItems>
    					</p:selectManyCheckbox>
    					</h:panelGrid>
    				</c:if>
    				
    			</p:panel>
    			
    			</pe:fluidGridItem>
    			</c:if>
    			<c:if test="#{control.id eq 'CEmp'}">
    				<h:inputHidden id="CEmp" value="#{loginManagedBean.market}"></h:inputHidden>
    			</c:if>
    			</c:forEach>
    		</pe:fluidGrid>
    		
    		</p:panel>
    		<p:toolbar>
   				<f:facet name="left">
   					<p:commandButton action="#{jasperServerBean.getHTMLPrint}" oncomplete="$('.jrPage').css('zoom',$(document).width()/$('.jrPage').width())" update="messages htmlReporte" value="Obtener">
   					</p:commandButton>
   					<p:commandButton ajax="false" update="messages" value="Descargar XLS">
   						<p:fileDownload value="#{jasperServerBean.print}"> </p:fileDownload>
   					</p:commandButton>
   					
   					<p:commandButton action="Reiniciar" value="Reiniciar" type="reset"></p:commandButton>
   					<p:commandButton action="reporte" resetValues="true" value="Regresar"></p:commandButton>
   				</f:facet>
   			</p:toolbar>
   			<div style="width:100%;height:100%">
   			<h:outputText escape="false" value="#{jasperServerBean.htmlReporte}" id="htmlReporte"></h:outputText>
   			</div>
   			
   			
    	</h:form>
</ui:composition>